* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cont {

    width: 100%;
    max-width: 600px;

    border: 1px solid hsl(0, 0%, 20%);

    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    align-items: center;

    color: white;
    background-color: #1B1B1C;


    padding: 3rem;
    border-radius: 20px;

    font-family: 'Google Sans', Tahoma, Geneva, Verdana, sans-serif;
}

.card-cont h1 {
    margin-bottom: 20px;
}

.card-cont > h2 {
    font-size: 1rem;
    color: hsl(0 56.7% 43.3%);
    margin-bottom: 20px;
}

.card-cont p {
    color: hsl(0, 0%, 80%);
}

.TextCount {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    transition: 0.2s;
}

.buttons button {
    
    background-color: #0f0f0f;
    
    border: none;
    border: 1px solid hsl(0, 0%, 20%);
    
    font-size: 2em;
    font-weight: bold;
    
    width: 2em;
    height: 2em;
    
    border-radius: 20px;
}

.buttons button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #0a0a0a;
}

#sumCount {
    color: hsl(121, 100%, 80%);
}

#subCount {
    color: hsl(0, 100%, 80%);
}

.btnReset {

    width: 100px;
    margin-top: 25px;
    padding: 1rem;

    border: none;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 20%);

    background-color: #0f0f0f;
    color: white;

    font-family: 'Google Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;

}

#numberCount {
    margin-top: 5px;
    text-align: center;
    font-size: 2.5rem;
    transition: color 0.2 ease;
}

.count-low {
    color: hsl(0, 100%, 80%);
}

.count-mid {
    color: hsl(59, 100%, 80%);
}

.count-high {
    color: hsl(121, 100%, 80%);
}

.animate {
    animation: pop 0.2s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

button {
    transition: 0.2s;
}

button:disabled {
    transition: none;
}

button:not(:disabled):active {
    transform: scale(0.95);
}

@media (hover: hover) {
    button:hover {
        background-color: #3a3a3a;
    }
}
